* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.categoryTitle {
  width: 50%;
}

.imgContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}

.imagesBlock {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.eachImage {
  width: 280px;
  height: 400px;
  margin: 20px;
}

.categoriesContainer {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: aqua;
  padding: 40px;
}

.category {
  margin: 2px;
}

.category:hover {
  cursor: pointer;
}

.browseImages {
  width: 30%;
}

.browseImages:hover {
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .imgContainer {
    width: 60%;
  }

  .categoriesContainer {
    width: 40%;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .eachImage {
    width: 180px;
    height: 300px;
    margin: 10px;
  }
}
